[submodule "1_foundry_simple_storage/lib/forge-std"]
	path = 1_foundry_simple_storage/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "2_foundry_fund_me/lib/forge-std"]
	path = 2_foundry_fund_me/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "2_foundry_fund_me/lib/chainlink-brownie-contracts"]
	path = 2_foundry_fund_me/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "2_foundry_fund_me/lib/foundry-devops"]
	path = 2_foundry_fund_me/lib/foundry-devops
	url = https://github.com/cyfrin/foundry-devops
[submodule "3_Foundry_lottery/lib/forge-std"]
	path = 3_Foundry_lottery/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "3_Foundry_lottery/lib/chainlink-brownie-contracts"]
	path = 3_Foundry_lottery/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
